@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

.WeatherForecast {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}
