@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

.Weather {
  font-family: "Poppins", sans-serif;

  color: white;
}

.Weather h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 250;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 300px;
  color: white;
  font-size: 64px;
  margin-left: 10px;
}

.Weather .units {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .form-control {
  margin-top: 25px;
  font-weight: 100;
  border-radius: 20px;
}

.Weather .btn {
  margin-top: 25px;
  font-weight: 100;
  border-radius: 20px;
}
